# Python byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Python installer logs
pip-log.txt
pip-delete-this-directory.txt

# Node dependency directories
node_modules/
jspm_packages/
